{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "android": "78",
          "chrome": "77",
          "edge": "17",
          "firefox":"68",
          "ie": "11",
          "ios": "12.2",
          "node": "10"
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "env": {
    "production": {
      "comments": false,
      "sourceMaps": false
    },
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"],
    }
  }
}
